* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('https://cdn.pixabay.com/photo/2017/12/24/14/27/geometric-3037028_960_720.png');
    
  }
  
  

  .container {
    
    height: 500px;
    margin-top: 5%;
    width: 100%;
    
    

  }

  .box-container {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.667);
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
    /* border: 2px solid red; */
    
    height: 65%;
    width: 40%;
    margin: 5% 30% 5% 30%;
    margin-top: 18%;

  }

h1 {
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 5%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#arearegistro {
  width: 70%;
  margin-top: 5%;
  padding: 2%;
}

#btn-registro {
align-items: center;
margin-left: 01%;

}

#btnAcceso {
  margin-top: 50%;
}
